/* Base Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #205072, #329D9C, #7BE495, #CFF4D2);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    box-sizing: border-box;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    color: #205072;
    margin-bottom: 20px;
}

.input-section {
    margin-bottom: 20px;
}

label {
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

textarea, input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #205072;
    background-color: #ffffff;
    color: #333;
    font-size: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.button-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    background-color: #205072;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-sizing: border-box;
}
.smbtn {
    background-color: #205072;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #329D9C;
    transform: translateY(-3px);
}
.smbtn:hover {
    background-color: #61bd5e;
    transform: translateY(-3px);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 28px;
    }

    .btn {
        font-size: 14px;
        padding: 8px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    label {
        font-size: 14px;
    }

    textarea, input[type="file"] {
        padding: 8px;
        font-size: 13px;
    }

    .btn {
        font-size: 14px;
        padding: 8px;
    }
}

